<style>
  :root {
    --nav-width: 15ch;
    --nav-gap: 3rem;
  }

  .layout {
    display: flex;
    flex-wrap: wrap;
    gap: var(--nav-gap);
    max-width: calc(71ch + var(--nav-width) + var(--nav-gap));
    margin: auto;
  }

  main.pages {
    max-width: unset;
  }

  nav.blog {
    width: var(--nav-width);
    border-inline-end: 1px solid hsl(var(--hue), 20%, 90%);
    padding-block-end: 1rem;
  }

  nav.blog ul {
    padding-inline-start: 1rem;
  }

  nav.blog ul li {
    padding-block: .2rem;
  }

  main.blog {
    max-width: 70ch;
  }

  @media screen and (max-width: 900px) {
    .layout {
      display: block;
    }
    nav.blog {
      border-inline-end: none;
    }
  }
</style>
%STYLE%

<div class="layout">
  <nav class="blog">
    <h3>Blog posts</h3>
    <ul>
      <li><a href="/blog/readme">Read me</a></li>
      <li><a href="/blog/mpa">MPA</a></li>
      <li><a href="/blog/unknown">Unknown</a></li>
    </ul>
  </nav>
  <main class="blog">
    %CONTENT%
  </main>
</div>

%SCRIPT%