<style>
  h1 {
    font-size: clamp(3rem, 8vw, 8rem);
    text-align: center;
    margin: 0;
    margin-block-start: 3rem;
  }
  p {
    text-align: center;
  }
</style>

<h1>
  404
</h1>

<p>
  Page not found.<br>
  <a href="/">Go back home.</a>
</p>