<style>
  h1 {
    font-size: clamp(3rem, 7vw, 8rem);
    margin: 1rem 0;
  }
</style>

<img src="assets/mpa-bg.png" alt="mpa logo background" class="test">

<h1>
  Home
</h1>

<p>
  This is the home (index.html) page.
</p>

<script defer>
  console.log('home');
</script>